In [4]:
import pandas as pd
import seaborn as sns

# 시리즈 연산

### 시리즈 vs 숫자

In [2]:
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
print(student1)
print('\n')

percentage = student1/200    #모든 value에 각각 계산됨

print(percentage)
print('\n')
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64


국어    0.50
영어    0.40
수학    0.45
dtype: float64


<class 'pandas.core.series.Series'>

### 시리즈 vs 시리즈

In [3]:
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90, '영어':80})
print(student1)
print('\n')
print(student2)
print('\n')

#각각 같은 인덱스끼리 계산
addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1 / student2
print('\n')

#각각의 연산 결과를 하나의 데이터프레임으로 합치기
result = pd.DataFrame([addition, subtraction, multiplication, division], index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64




              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

#### 주의할 점!!!
#### 연산을 하는 두 시리즈의 원소의 개수가 다르거나, 시리즈의 인덱스 값이 다를 경우, 연산 불가 -> NaN으로 처리함!!
#### 어느 한쪽의 데이터 값이 NaN일 경우, 연산 결과도 NaN으로 처리함!! -> fill_value=원하는 값  을 통해 연산 처리 가능!!

# 데이터프레임 연산

### 데이터프레임 vs 숫자

In [6]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]
print(df.head())      #첫 5행만 표시
print('\n')
print(type(df))
print('\n')

addition = df + 10    #모든 데이터에 10을 더한다
print(addition.head())
print('\n')
print(type(addition))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


<class 'pandas.core.frame.DataFrame'>

### 데이터프레임 vs 데이터프레임

In [7]:
#각 데이터프레임의 같은 행, 열 위치에 있는 원소끼리 계산

print(df.tail())    #마지막 5행 표시
print('\n')
print(type(df))
print('\n')

addition = df + 10
print(addition.tail())
print('\n')
print(type(addition))
print('\n')

subtraction = addition - df
print(subtraction.tail())
print('\n')
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>


      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75


<class 'pandas.core.frame.DataFrame'>


      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>