In [4]:
import pandas as pd

# 시리즈

### 시리즈 변환

In [5]:
dict_data = {'a' : 1, 'b' : 2, 'c' : 3}

sr = pd.Series(dict_data)

print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

### 인덱스 구조

In [9]:
list_data = ['abcd', 3.14, True, 100]      #인덱스 지정 안하면 자동으로 정수 인덱스로 변환
sr = pd.Series(list_data)
print(sr)

0    abcd
1    3.14
2    True
3     100
dtype: object

In [11]:
idx = sr.index     #인덱스 범위 표시
val = sr.values    #값 표시
print(idx)
print(val)

RangeIndex(start=0, stop=4, step=1)
['abcd' 3.14 True 100]

In [12]:
tup_data = ('동인', '1997-05-06', '남', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])    #인덱스를 직접 지정해줌
print(sr)

이름              동인
생년월일    1997-05-06
성별               남
학생여부          True
dtype: object

In [15]:
#시리즈 원소 선택, 리스트 안에 리스트 형태
print(sr[0])
print(sr['이름'])
print(sr[[1, 3]])
print(sr[['생년월일', '학생여부']])

동인
동인
생년월일    1997-05-06
학생여부          True
dtype: object
생년월일    1997-05-06
학생여부          True
dtype: object

In [16]:
#시리즈 범위 선택, 그냥 리스트 형태
print(sr[1:2])
print(sr['생년월일':'성별'])

생년월일    1997-05-06
dtype: object
생년월일    1997-05-06
성별               남
dtype: object

# 데이터프레임

### 데이터프레임 만들기

In [19]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df = pd.DataFrame(dict_data)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

### 행 인덱스 / 열 이름 설정

In [20]:
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                 index = ['준서', '예은'],
                 columns = ['나이', '성별', '학교'])

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [22]:
#행 인덱스 / 열 이름 변경

df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

In [25]:
#행 인덱스 / 열 이름 일부 선택 변경

df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                 index = ['준서', '예은'],
                 columns = ['나이', '성별', '학교'])
print(df)
print('\n')

df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)    #inplace=True를 쓰면 원본 변경, 안쓰면 새로운 객체 반환
df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

### 행 / 열 삭제

In [27]:
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
            '음악' : [85, 95, 100], '체육' : [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print('\n')

df2 = df[:]    #df 복제
df2.drop('우현', inplace=True)    #행 하나 삭제
print(df2)
print('\n')

df3 = df[:]
df3.drop(['우현', '인아'], axis=0, inplace=True)    #행 여러개 삭제시에는 리스트 형태로 대입
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\Dong In Jang\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Dong In Jang\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [29]:
df4 = df[:]
df4.drop('수학', axis=1, inplace=True)    #열 하나 삭제, axis=1로 설정 필수
print(df4)
print('\n')

df5 = df[:]
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

C:\Users\Dong In Jang\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Dong In Jang\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

### 행 선택

In [33]:
df6 = df[:]

label1 = df6.loc['서준']    #인덱스 이름으로 선택
position1 = df6.iloc[0]     #정수형 인덱스로 선택
print(label1)
print('\n')
print(position1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [34]:
label2 = df6.loc[['서준', '우현']]    #행 선택해서 출력, 리스트 안에 리스트 형태
position2 = df6.iloc[[0, 1]]
print(label2)
print('\n')
print(position2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [36]:
label3 = df6.loc['서준':'우현']    #행 선택해서 출력, 그냥 리스트 형태
position3 = df6.iloc[0:1]
print(label3)
print('\n')
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

### 열 선택

In [38]:
#열 선택 시 loc이나 iloc은 필요 없이 그냥 열 이름만 입력하면 가능
df7 = df[:]

math1 = df7['수학']
print(math1)
print(type(math1))
print('\n')

english = df7.영어    #객체.열이름 형태는 열 이름이 문자열일 경우만 가능
print(english)
print(type(english))

서준    90
우현    80
인아    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


서준    98
우현    89
인아    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [40]:
music_gym = df7[['음악', '체육']]    #리스트 안에 리스트 형태로 여러 열 출력, 이때 타입은 데이터프레임(시리즈x)
print(music_gym)
print(type(music_gym))
print('\n')

     음악   체육
서준   85  100
우현   95   90
인아  100   90
<class 'pandas.core.frame.DataFrame'>